doctype html
html
  head
    title Category List
    link(rel="stylesheet", href="/styles/custom.css") 
  body
    div.container
      h1 Category List
      a(href="/categories/create", class="btn btn-primary") Create Category
      table
        thead
          tr
            th ID
            th Category Id
            th Category Name
            th Actions
        tbody
          each category in categories
            tr
              td #{category.id}
              td #{category.category_id}
              td #{category.category_name}
              td
                a(href=`/categories/${category.category_id}/view`) View
                | 
                a(href=`/categories/${category.category_id}/edit`) Edit
                | 
                form(action=`/categories/${category.category_id}/delete`, method="POST")
                  input(type="hidden", name="_method", value="DELETE")
                  button.delete-btn(type="submit") Delete
