doctype html
html
  head
    title Category List
    link(rel="stylesheet", href="/styles/custom.css") 
  body
    div.container
      h1 Category List
      a(href="/categories/create", class="btn btn-primary") Create Category
      table
        thead
          tr
            th ID
            th Category Id
            th Category Name
            th Actions
        tbody
          each category in categories
            tr
              td #{category.id}
              td #{category.category_id}
              td #{category.category_name}
              td
                a(href=`/categories/${category.category_id}`) View
                | 
                a(href=`/categories/edit/${category.category_id}`) Edit
                | 
                a(href=`/categories/delete/${category.category_id}`) Delete
